
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 203vh;
}

/* Header */
.main-header {
  height: 60px; /* hoặc tuỳ chỉnh theo thiết kế */
  width: 100%;
  background-color: rgb(250 250, 250); /* có thể đổi màu nếu muốn */
  display: flex;
  align-items: center;
  /* padding: 0 20px; */
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

/* Body dưới header */
.main-body {
  display: flex;
  flex: 1;
  overflow: hidden;
    background-color: rgb(250 250, 250);
}

/* LeftSide (menu bên trái) */
.main-left-side {
  flex: 0.10;    
  background-color: rgb(250 250, 250);
  overflow-y: auto; 
}

.main-right-side {
  flex: 0.9;
  margin-left: 300px;
  background-color: rgb(250 250, 250);
  overflow-y: auto;
  overflow-x: hidden; 
}
.main-right-side::-webkit-scrollbar {
  display: none;
}

